<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Magazins - Student Square</title>
    <link
      rel="shortcut icon"
      href="/src/img/SSsiteIcon.png"
      type="image/x-icon"
    />
    <!-- Font Awesome -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />
    <!-- MDB -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css"
      rel="stylesheet"
    />

    <!-- Your custom styles (optional) -->
    <link rel="stylesheet" href="/src/css/main.css" />
    <link rel="stylesheet" href="/src/css/prev-blog-slider.css" />
  </head>
  <body>
    <!-- Start your project here-->
    <!-- Navbar-->
    <%- include('./partials/navbar.ejs') %>
    <!-- Navbar -->
    <!-- Main Content Start -->
    <div class="custom-container single-blog-page">
      <h1
        class="my-4"
        style="text-decoration: underline; margin-top: 4rem !important"
      >
        Magazins
      </h1>
      <div class="n-card-section">
        <div class="pages">
          <p><strong>Page 1</strong>of 2</p>
        </div>

        <div class="row">
        <% posts.forEach((post, index) => { %>
          <div class="col-md-3">
            <div class="each-card">
              <div class="card">
                <div
                  class="bg-image hover-overlay ripple"
                  data-mdb-ripple-color="light"
                >
                  <a href="/magazins/<%=post.id%>">
                    <img
                      src="https://studentsquare.org/ss-admin<%= thumbs[index].img.replace('public','') %>"
                      class="img-fluid"
                      alt='<%=post.title%>'
                    />
                  </a>
                  <a href="#!">
                    <div class="mask" style="background-color: #fbfbfb26"></div>
                  </a>
                </div>
                <a href="/magazins/<%=post.id%>">
                  <div class="card-body">
                    <h5 class="card-title"><%=post.title%></h5>
                      <p class="card-text">
                        <% 
                          var shortDis = post.short_dis;
                          if (shortDis.length > 200) {
                            shortDis = shortDis.substring(0, 200) + '...';
                          }
                        %>
                        <%= shortDis %>
                      </p>


                    <div class="card-footer-scetion">
                      
                      <p class="days">
                        <i class="far fa-hourglass-half"></i>
                        
                        <span class="cs-post-date" data-created-at="<%= post.createdAt %>"></span>
                        <script>
                          function timeSince(date) {
                            const seconds = Math.floor((new Date() - new Date(date)) / 1000);
                            let interval = Math.floor(seconds / 31536000);

                            if (interval > 1) {
                              return `${interval} years`;
                            }
                            interval = Math.floor(seconds / 2592000);
                            if (interval > 1) {
                              return `${interval} months`;
                            }
                            interval = Math.floor(seconds / 604800);
                            if (interval > 1) {
                              return `${interval} weeks`;
                            }
                            interval = Math.floor(seconds / 86400);
                            if (interval > 1) {
                              return `${interval} days`;
                            }
                            interval = Math.floor(seconds / 3600);
                            if (interval > 1) {
                              return `${interval} hours`;
                            }
                            interval = Math.floor(seconds / 60);
                            if (interval > 1) {
                              return `${interval} minutes`;
                            }
                            return `${Math.floor(seconds)} seconds`;
                          }

                          // Call the function for each post date element
                          document.querySelectorAll('.cs-post-date').forEach(element => {
                            const createdAt = element.getAttribute('data-created-at');
                            element.textContent = "Posted " + timeSince(createdAt) + " ago";
                          });
                        </script>

                      </p>
                    </div>
                  </div>
                </a>
              </div>
            </a>
            </div>
          </div>
        <% }); %>
        </div>

        <nav aria-label="..." id="_pagination">
          <ul class="pagination pagination-circle">
            <li class="page-item">
              <a class="page-link prev-btn"
                ><i class="fas fa-angle-left"></i
              ></a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active" aria-current="page">
              <a class="page-link" href="#"
                >2 <span class="visually-hidden">(current)</span></a
              >
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link next-btn" href="#">
                <i class="fas fa-angle-right"></i>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <!-- Footer  -->
    <%- include('./partials/footer.ejs') %>
    <!-- Main Content End  -->
    <!-- End your project here-->
    <!-- jQuery -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    ></script>
    <!-- Bootstrap tooltips -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"
    ></script>
    <!-- Bootstrap core JavaScript -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"
    ></script>
    <!-- MDB core JavaScript -->
    <!-- MDB -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.js"
    ></script>

    <!-- Your custom scripts (optional) -->
    <script type="module" src="/src/js/main.js"></script>
  </body>
</html>
