<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Who We Are - Student Square</title>
    <link
      rel="shortcut icon"
      href="/src/img/SSsiteIcon.png"
      type="image/x-icon"
    />
    <!-- Font Awesome -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />
    <!-- MDB -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css"
      rel="stylesheet"
    />

    <!-- Your custom styles (optional) -->
    <link rel="stylesheet" href="/src/css/main.css" />
    <link rel="stylesheet" href="/src/css/prev-blog-slider.css" />
  </head>
  <body>
    <!-- Start your project here-->
    <!-- Navbar-->
    <%- include('./partials/navbar.ejs') %>
    <!-- Navbar -->

    <!-- Main Content Start -->

    <div class="custom-container who-we-are-page my-5">
      <h1 class="text-center">Who We Are</h1>
      <p class="text-center">
        We're a bunch of student ninjas ready to unleash our superpowers and
        help our fellow mates reach their goals by boosting their brain muscles
        and making better decisions. We feel and breath the same as we have
        faced the same difficulty. We wholeheartedly assess the student goals
        and the challenges they are looking to overcome. We are from future
        working effortlessly reminiscing our past experience.
      </p>
      <!-- Our Bord Section  -->
      <div class="our-bord-section">
        <div class="o-bord-sec">
          <h1><span class="one">Our</span> <span class="two">Board</span></h1>
          <% posts.forEach((post, index) => { %> <% if
          (post.designation.toLowerCase() === 'ceo') { %>
          <div class="big-card">
            <a href="/employee/<%= post.id %>" class="main-card">
              <img
                src="https://studentsquare.org/ss-admin<%= displayPicture[index].img.replace('public','') %>"
                alt="<%=post.name%>"
                srcset=""
              />
              <h3><%=post.name%></h3>
              <h4><%=post.designation%></h4>
              <h4><%=post.education%></h4>
              <p>
                <%= post.about.length <= 300 ? post.about : post.about.slice(0,
                600) + '...' %>
              </p>
            </a>
          </div>
          <% } %> <% }); %>

          <div class="small-card">
            <div class="row">
              <% posts.forEach((post, index) => { %>
              <div class="col-md-6">
                <a href="/employee/<%= post.id %>" class="main-s-card">
                  <img
                    src="https://studentsquare.org/ss-admin<%= displayPicture[index].img.replace('public','') %>"
                    alt="<%=post.name%>"
                    srcset=""
                  />
                  <h3><%=post.name%></h3>
                  <h4><%=post.designation%></h4>
                  <h4><%=post.education%></h4>
                  <p>
                    <%= post.about.length <= 300 ? post.about :
                    post.about.slice(0, 600) + '...' %>
                  </p>
                </a>
              </div>
              <% }); %>
            </div>
          </div>
        </div>
      </div>

      <!-- Our Advisory Panel  -->
      <div class="our-advisory-panel">
        <div class="main-a-p-section">
          <h1>
            <span class="two">Our</span> <span class="one">Advisory Panel</span>
          </h1>
          <div class="row">
            <% advisories.forEach((post, index) => { %>
            <div class="col-md-6">
              <a href="/employee.html" class="a-main-s-card">
                <img
                  src="http://studentsquare.org/ss-admin/<%= advisoriesdisplayPicture[index].img.replace('public','')  %>"
                  alt="<%=post.name%>"
                  srcset=""
                />
                <h3><%=post.name%></h3>
                <h4><%=post.designation%></h4>
                <h4><%=post.education%></h4>
                <p>
                  <%= post.about.length <= 300 ? post.about :
                  post.about.slice(0, 600) + '...' %>
                </p>
              </a>
            </div>
            <% }); %>
          </div>
        </div>
      </div>

      <!-- Our Team  -->
      <div class="our-team-section">
        <div class="main-team">
          <h1><span class="two">Our</span> <span class="one">Team</span></h1>

          <div class="tab-section">
            <!-- Tabs navs -->
            <ul class="nav nav-tabs mb-3" id="ex-with-icons" role="tablist">
              <li class="nav-item" role="presentation">
                <a
                  class="nav-link active"
                  id="communications"
                  data-mdb-toggle="tab"
                  href="#communiactions-tab"
                  role="tab"
                  aria-controls="communiactions-tab"
                  aria-selected="true"
                  ><i class="fas fa-users fa-fw me-2"></i>Communications</a
                >
              </li>
              <li class="nav-item" role="presentation">
                <a
                  class="nav-link"
                  id="fundraising"
                  data-mdb-toggle="tab"
                  href="#fundraising-tab"
                  role="tab"
                  aria-controls="fundraising-tab"
                  aria-selected="false"
                  ><i class="fas fa-hand-holding-dollar fa-fw me-2"></i
                  >Fundraising</a
                >
              </li>
              <li class="nav-item" role="presentation">
                <a
                  class="nav-link"
                  id="operations-fina"
                  data-mdb-toggle="tab"
                  href="#oparations-tab"
                  role="tab"
                  aria-controls="oparations-tab"
                  aria-selected="false"
                  ><i class="fas fa-cogs fa-fw me-2"></i>Operations</a
                >
              </li>
              <li class="nav-item" role="policyandFinance">
                <a
                  class="nav-link"
                  id="policyandFinance-fina"
                  data-mdb-toggle="tab"
                  href="#policyandFinance-tab"
                  role="tab"
                  aria-controls="policyandFinance-tab"
                  aria-selected="false"
                  ><i class="fas fa-cogs fa-fw me-2"></i>Policy and Finance</a
                >
              </li>
              <li class="nav-item" role="presentation">
                <a
                  class="nav-link"
                  id="partnership"
                  data-mdb-toggle="tab"
                  href="#partnership-tab"
                  role="tab"
                  aria-controls="partnership-tab"
                  aria-selected="false"
                  ><i class="fas fa-handshake-angle fa-fw me-2"></i
                  >Partnerships</a
                >
              </li>
              <li class="nav-item" role="presentation">
                <a
                  class="nav-link"
                  id="pepole-culture"
                  data-mdb-toggle="tab"
                  href="#pepole-culture-tab"
                  role="tab"
                  aria-controls="pepole-culture-tab"
                  aria-selected="false"
                  ><i class="fas fa-people-arrows fa-fw me-2"></i>People and
                  Culture</a
                >
              </li>
              <li class="nav-item" role="presentation">
                <a
                  class="nav-link"
                  id="technology"
                  data-mdb-toggle="tab"
                  href="#technology-tab"
                  role="tab"
                  aria-controls="technology-tab"
                  aria-selected="false"
                  ><i class="fas fa-microchip fa-fw me-2"></i>Technology</a
                >
              </li>
              <li class="nav-item" role="presentation">
                <a
                  class="nav-link"
                  id="timor-programs"
                  data-mdb-toggle="tab"
                  href="#timor-programs-tab"
                  role="tab"
                  aria-controls="timor-programs-tab"
                  aria-selected="false"
                  ><i class="fas fa-timeline fa-fw me-2"></i>Timor-Leste
                  Programs</a
                >
              </li>
            </ul>
            <!-- Tabs navs -->

            <!-- Tabs content -->
            <div class="tab-content px-8" id="ex-with-icons-content">
              <div
                class="tab-pane fade show active"
                id="communiactions-tab"
                role="tabpanel"
                aria-labelledby="communiactions-tab"
              >
                <div class="tab-cards">
                  <div class="row">
                    <% communications.forEach((post, index) => { %>
                    <div class="col-md-4">
                      <a href="/" class="main-tabs-card">
                        <img
                          src="http://studentsquare.org/ss-admin/<%= communicationsDP[index].img.replace('public','')  %>"
                          alt="<%=post.name%>"
                          srcset=""
                        />
                        <h3><%=post.name%></h3>
                        <h4><%=post.designation%></h4>
                        <h4><%=post.education%></h4>
                        <p>
                          <%= post.about.length <= 300 ? post.about :
                          post.about.slice(0, 600) + '...' %>
                        </p>
                      </a>
                    </div>
                    <% }); %>
                  </div>
                </div>
              </div>
              <div
                class="tab-pane fade"
                id="fundraising-tab"
                role="tabpanel"
                aria-labelledby="fundraising-tabs"
              >
                <div class="tab-cards">
                  <div class="row">
                    <% fundraising.forEach((post, index) => { %>
                    <div class="col-md-4">
                      <a href="/" class="main-tabs-card">
                        <img
                          src="http://studentsquare.org/ss-admin/<%= communicationsDP[index].img.replace('public','')  %>"
                          alt="<%=post.name%>"
                          srcset=""
                        />
                        <h3><%=post.name%></h3>
                        <h4><%=post.designation%></h4>
                        <h4><%=post.education%></h4>
                        <p>
                          <%= post.about.length <= 300 ? post.about :
                          post.about.slice(0, 600) + '...' %>
                        </p>
                      </a>
                    </div>
                    <% }); %>
                  </div>
                </div>
              </div>
              <div
                class="tab-pane fade"
                id="oparations-tab"
                role="tabpanel"
                aria-labelledby="oparations-tabs"
              >
                <div class="tab-cards">
                  <div class="row">
                    <% operations.forEach((post, index) => { %>
                    <div class="col-md-4">
                      <a href="/" class="main-tabs-card">
                        <img
                          src="http://studentsquare.org/ss-admin/<%= operationsDP[index].img.replace('public','')  %>"
                          alt="<%=post.name%>"
                          srcset=""
                        />
                        <h3><%=post.name%></h3>
                        <h4><%=post.designation%></h4>
                        <h4><%=post.education%></h4>
                        <p>
                          <%= post.about.length <= 300 ? post.about :
                          post.about.slice(0, 600) + '...' %>
                        </p>
                      </a>
                    </div>
                    <% }); %>
                  </div>
                </div>
              </div>
              <div
                class="tab-pane fade"
                id="policyandFinance-tab"
                role="tabpanel"
                aria-labelledby="policyandFinance-tabs"
              >
                <div class="tab-cards">
                  <div class="row">
                    <% policyAndFinance.forEach((post, index) => { %>
                    <div class="col-md-4">
                      <a href="/" class="main-tabs-card">
                        <img
                          src="http://studentsquare.org/ss-admin/<%= policyAndFinanceDP[index].img.replace('public','')  %>"
                          alt="<%=post.name%>"
                          srcset=""
                        />
                        <h3><%=post.name%></h3>
                        <h4><%=post.designation%></h4>
                        <h4><%=post.education%></h4>
                        <p>
                          <%= post.about.length <= 300 ? post.about :
                          post.about.slice(0, 600) + '...' %>
                        </p>
                      </a>
                    </div>
                    <% }); %>
                  </div>
                </div>
              </div>
              <div
                class="tab-pane fade"
                id="partnership-tab"
                role="tabpanel"
                aria-labelledby="partnership-tabs"
              >
                <div class="tab-cards">
                  <div class="row">
                    <% partnerships.forEach((post, index) => { %>
                    <div class="col-md-4">
                      <a href="/" class="main-tabs-card">
                        <img
                          src="http://studentsquare.org/ss-admin/<%= partnershipsDP[index].img.replace('public','')  %>"
                          alt="<%=post.name%>"
                          srcset=""
                        />
                        <h3><%=post.name%></h3>
                        <h4><%=post.designation%></h4>
                        <h4><%=post.education%></h4>
                        <p>
                          <%= post.about.length <= 300 ? post.about :
                          post.about.slice(0, 600) + '...' %>
                        </p>
                      </a>
                    </div>
                    <% }); %>
                  </div>
                </div>
              </div>
              <div
                class="tab-pane fade"
                id="pepole-culture-tab"
                role="tabpanel"
                aria-labelledby="pepole-culture-tabs"
              >
                <div class="tab-cards">
                  <div class="row">
                    <div class="row">
                      <% peopleAndCulture.forEach((post, index) => { %>
                      <div class="col-md-4">
                        <a href="/" class="main-tabs-card">
                          <img
                            src="http://studentsquare.org/ss-admin/<%= peopleAndCultureDP[index].img.replace('public','')  %>"
                            alt="<%=post.name%>"
                            srcset=""
                          />
                          <h3><%=post.name%></h3>
                          <h4><%=post.designation%></h4>
                          <h4><%=post.education%></h4>
                          <p>
                            <%= post.about.length <= 300 ? post.about :
                            post.about.slice(0, 600) + '...' %>
                          </p>
                        </a>
                      </div>
                      <% }); %>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="tab-pane fade"
                id="technology-tab"
                role="tabpanel"
                aria-labelledby="technology-tabs"
              >
                <div class="tab-cards">
                  <div class="row">
                    <% technology.forEach((post, index) => { %>
                    <div class="col-md-4">
                      <a href="/" class="main-tabs-card">
                        <img
                          src="http://studentsquare.org/ss-admin/<%= technologyDP[index].img.replace('public','')  %>"
                          alt="<%=post.name%>"
                          srcset=""
                        />
                        <h3><%=post.name%></h3>
                        <h4><%=post.designation%></h4>
                        <h4><%=post.education%></h4>
                        <p>
                          <%= post.about.length <= 300 ? post.about :
                          post.about.slice(0, 600) + '...' %>
                        </p>
                      </a>
                    </div>
                    <% }); %>
                  </div>
                </div>
              </div>
              <div
                class="tab-pane fade"
                id="timor-programs-tab"
                role="tabpanel"
                aria-labelledby="timor-programs-tabs"
              >
                <div class="tab-cards">
                  <div class="row">
                    <% timorLeste.forEach((post, index) => { %>
                    <div class="col-md-4">
                      <a href="/" class="main-tabs-card">
                        <img
                          src="http://studentsquare.org/ss-admin/<%= timorLesteDP[index].img.replace('public','')  %>"
                          alt="<%=post.name%>"
                          srcset=""
                        />
                        <h3><%=post.name%></h3>
                        <h4><%=post.designation%></h4>
                        <h4><%=post.education%></h4>
                        <p>
                          <%= post.about.length <= 300 ? post.about :
                          post.about.slice(0, 600) + '...' %>
                        </p>
                      </a>
                    </div>
                    <% }); %>
                  </div>
                </div>
              </div>
            </div>
            <!-- Tabs content -->
          </div>
        </div>
      </div>
    </div>

    <!-- Footer  -->
    <%- include('./partials/footer.ejs') %>
    <!-- Main Content End  -->

    <!-- End your project here-->
    <!-- jQuery -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    ></script>
    <!-- Bootstrap tooltips -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"
    ></script>
    <!-- Bootstrap core JavaScript -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"
    ></script>
    <!-- MDB core JavaScript -->
    <!-- MDB -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.js"
    ></script>

    <!-- Your custom scripts (optional) -->
    <script type="module" src="/src/js/main.js"></script>
  </body>
</html>
